.l-add-expense-form {
  .l-fields {
    margin-bottom: 20px;
    display: flex;

    .l-field {
      margin-right: 20px;
      position: relative;

      &:last-child {
        margin-right: 0;
      }

      input {
        width: 100%;
        border: none;
      }

      span.m-inline-error {
        position: absolute;
        left: 0;
        bottom: -18px;
      }
    }
  }
}
