footer {
  .l-content {
    box-sizing: border-box;
    max-width: 600px;
    margin: 0 auto;
    padding: 5px;
    font-size: 1.4rem;
    background-color: $brand-olive;
  }

  a {
    color: $brand-purple;
    text-decoration: none;

    &:visited {
      color: $brand-purple;
    }
  }
}
