/* header: */
header {
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: $brand-brown;

  a {
    color: #fff;
  }

  nav {
    ul {
      display: flex;

      li {
        margin-right: 15px;
      }

      a {
        font-size: 1.6rem;
        text-decoration: unset;

        &:visited {
        }
      }
    }
  }

  .l-lang {
    ul {
      display: flex;
      align-items: center;
    }
    li {
      margin-right: 8px;
      line-height: 1;

      &:last-child {
        margin-right: 0;
      }
    }
    span {
      cursor: pointer;
    }
  }
}
