// colors:
$brand-olive: #8d8741;
$brand-blue: #659dbd;
$brand-orange: #daad86;
$brand-brown: #bc986a;
$brand-beige: #fbeec1;
$brand-red: #fc4445;
$brand-red-darker: #6f2232;
$brand-dark: #282828;
$brand-purple: #190061;

// margins:
$s-margin: 20px;
$m-margin: 40px;
$l-margin: 60px;

// paddings:
$s-padding: 20px;
$m-padding: 40px;
$l-padding: 60px;
